
#main-div {
    display: flex;
}

#img-1 {
    max-width: 50%;
    text-align: right;
}
a:link {
    text-decoration: none;
}

@media only screen and (min-width: 320px) and (max-width: 723px){
    #main-div {
        flex-direction: column;
    }
}
td {
    vertical-align: top;

}