<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gun augmentation attachments</title>
</head>
<body>
<form th:action="@{/attachment/new}" method="post" th:object="${attachment}">
    <table>
        <tr>
            <th>Item Name</th>

        </tr>
        <tr>
            <td><label>
                <input type="text" th:field="*{attachmentName}" />
            </label>Name of firearm attachment</td>

        </tr>
    </table>

    <input type="submit" value="Save attachment" />
</form>

</body>
</html>