<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Ye Guns Here</title>
</head>
<body>
<h1>Create a new gun for fun and profit</h1>

<form th:action="@{/gun/new}" method="post" th:object="${gun}">
    <table>
        <tr>
            <th>Item Name</th>
            <th>Ammunition Type</th>
        </tr>
        <tr>
            <td><label>
                <input type="text" th:field="*{gunName}" />
            </label>Gun Designation</td>

            <td>
                <label for="ammoField"></label><select id="ammoField" th:field="*{ammo}" >
                    <option th:each="ammo : ${ammoList}"
                            th:value="${ammo.ammoId}"
                            th:text="${ammo.ammoName}">
                    </option>
                </select>
            </td>
        </tr>
    </table>

    <input type="submit" value="Save gun" />
</form>

</body>
</html>