<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Guns, lots and lots of guns!</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div id="main-div" class="container">

    <table id="item-1">
        <tr>

            <th>
                gunName
            </th>
            <th>
                ammoType
            </th>
            <th>
                Optional attachments
            </th>




        </tr>

        <tr th:each="gun : ${allGuns}">

            <td th:text="${gun.gunName}"></td>
            <td><a th:href="@{/ammo/detail/{calibre}(calibre=${gun.ammo.ammoName})}" th:text="${gun.ammo.ammoName}"></a> </td>
            <td th:text="${gun.displayAttachments}"></td>

        </tr>
        <tr><br></tr>


    </table>

    <img th:src="@{/images/gunliz.jpg}" alt="image" width="30%" height="30%" id="img-1">


</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>

