<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Add ye Utilser</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">
  <form th:action="@{/utiliser/newutiliser}" method="post" th:object="${utilserDetails}">
    <p>
      <label for="userName">Username:</label>
      <input type="text" id="userName" th:field="*{username}" />
    </p>
    <p>
      <label for="newPasswordField">New Password:</label>
      <input type="password" id="newPasswordField" th:field="*{password}" />
    </p>
    <p>
      <label for="confirmPasswordField">Confirm Password:</label>
      <input type="password" id="confirmPasswordField" th:field="*{confirmPassword}" />
    </p>

    <input type="submit" value="Change Password">
  </form>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>